Intermediate
Saved
DerivedDataCache
.vs
.idea
*.sdf
*.opensdf
*.sln
*.suo
*.pdb
*.exe
*-DebugGame.dll
*.sym
*.debug
SurvivalGame/Binaries/Win64/SurvivalGame.exp
SurvivalGame/Binaries/Win64/SurvivalGame.lib
SurvivalGame/Releases
*.log
*.target.xml
*.target
*.modules
*.opendb
*.VC.db
